.dialogMask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    opacity: 0;
    transition: all 0.2s ease-out;
}

.dialogMask.open {
    display: flex;
}

.dialogMask.show {
    opacity: 1;
}

.dialog {
    min-width: 300px;
    max-width: 400px;
    min-height: 200px;
    background: #fff;
    transform: scale(0.7);
    transition: all 0.2s ease-out;
    /*border-radius: 15px;*/
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.18);
    overflow: hidden;
}

.dialogMask.show .dialog {
    transform: scale(1) translate(0, -30px);
}

.dialogTitle {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background: #eee;
    position: relative;
    padding: 0 40px;
    color: #454545;
}

.dialogContent {
    padding: 15px;
    text-align: center;
}

.closeBtn {
    width: 30px;
    height: 30px;
    /*background: #ccc;*/
    border-radius: 50%;
    transition: all 0.5s ease;
    position: absolute;
    right: 4px;
    top: 4px;
}

.closeBtn:hover {
    background: #ccc;
    cursor: pointer;
    transform: rotate(90deg);
}

.closeBtn > * {
    display: block;
    position: absolute;
    background: #fff;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.closeBtn > *:first-child {
    width: 2px;
    height: 70%;
}

.closeBtn > *:last-child {
    width: 70%;
    height: 2px;
}
